/* ===================== CLIENTS ===================== */

.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;

    & .item {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100% - 60px) / 2);   
        height: 90px;
        margin-left: 30px;
        margin-bottom: 30px;
        border: 1px solid var(--icon-color);
        border-radius: 4px;
        transition-property: var(--accent-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
        
        &:hover,
        &:focus {
            border-color: var(--accent-color);
        }

        &:hover svg,
        &:focus svg {
            fill: var(--accent-color);
        }
    }
}

.clients-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .clients-list .item {
        flex-basis: calc((100% - 90px) / 3);  
    }
}

@media screen and (min-width: 1200px) {
    .clients-list .item {
        flex-basis: calc((100% - 180px) / 6);  
        flex-wrap: nowrap;
    }

    .clients-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
    }
}

.clients-icon {
    fill: var(--icon-color);
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link {
    margin: auto;
}
