/* ===================== FOOTER ===================== */

footer {
    background: var(--background-section-color);
}

.footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    padding: 60px 15px;
    
    margin-left: auto;
    margin-right: auto;
    
    

    &-address {
        font-style: normal;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        transition-property: var(--accent-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-mail {
        
    }

    &-socials {
        display: flex;
        justify-content: center;
    }
}

.location {
    color: var(--primary-white-color);
    font-style: normal;
}

.logo-footer {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    word-spacing: -1ch;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.studio-footer {
    color: var(--primary-white-color);
    word-spacing: -1ch;
}

.link-container {
    margin: 60px auto;
}

.link-container h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    color: var(--primary-white-color);
    text-align: center;
    margin-bottom: 20px;
}

.flex-box address {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.social-frame-link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px 12px;
    margin-right: 10px; 
    background: rgba(255, 255, 255, 0.1);
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }

    & .social-icon {
        fill: var(--primary-white-color);
    } 
}

@media screen and (min-width: 768px) {
    .tablet-footer {
        display: flex;
        justify-content: space-around;
        margin-bottom: 60px;
    }

    .link-container {
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        width: 1200px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .flex-box {
        margin-right: 70px;
    }

    .logo-footer {
        display: flex;
        justify-content: flex-start;
    }

    .flex-box address {
        display: flex;
        justify-content: flex-start;
    }

    .tablet-footer {
        margin-bottom: 0;
    }
}